<div class="bottom_border">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#"><%= link_to 'TWEETS', opinions_path %> <span class="sr-only">(current)</span></a>
      </div>
    </div>
  </nav>
</div>