<div class="d-flex flex-column">
  <% users.each do |user| %>
    <div class=" bg-light my-2">
      <div class="d-flex flex-row align-items-center">
        <div class="pr-2 flex-shrink-1 ">
          <%= image_tag user.photo.url(:thumb), :class => "rounded-circle" %>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center pl-2 fullname-in-right-sidebar">
          <div class="">
            <h5><%= link_to user.fullname, user_path(user.id), :class => ""%> </h5>
            <p>@<%= user.username %> </p>
          </div>
          <div class="d-flex flex-column">
            <%= follow_button(user) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>