<div class="login_signup_form_wrapper">
  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <i class="fab fa-twitter fa-2x ml-4 text-primary"></i>
      <h1>New User</h1>
    </div>

    <%= render 'form', user: @user %>
  </div>
</div>

