<div class="login_signup_form_wrapper">
  <div class="container">
    <h1>New User</h1>

    <%= render 'form', user: @user %>
    <button><%= link_to "Log In", login_url %></button>
  </div>
</div>

