<div class="d-flex text-secondary">
  <div class="w-100 content">
    <%= render 'users/cover_image', user: @user %>

    <%= render 'opinions/navbar' %>

    <div class="container pt-3">
      <!--      <p id="notice"><%#= notice %></p>-->

      <div class="d-flex flex-column">
        <%= render 'opinions/opinions_list', { user: @user, timeline_opinions: @timeline_opinions } %>
      </div>
    </div>
  </div>
  <div class="flex-shrink-1 right_sidebar">
    <%= render 'users/right_sidebar', { timeline_opinions: @timeline_opinions, user: @user } %>
  </div>
</div>


