
<div class="mr-auto align-self-center">
  <i class="fab fa-twitter fa-2x ml-4"></i>
</div>
<div class="align-self-center">
  <i class="fas fa-pen fa-2x mr-5"></i>
  <i class="fas fa-envelope fa-2x mr-5"></i>
  <i class="fas fa-search fa-2x mr-5"></i>
  <i class="fas fa-cog fa-2x mr-5"></i>
</div>